  RewriteEngine on

  # Addressing
  ServerName {{ item.value.preferred_domain | default(item.key + '.lug.org.uk') }}
{% include('parts/aliases.j2') %}

  # Contact
  ServerAdmin {{ item.value.serveradmin | default('admin@lug.org.uk') }}

  # Logging
  LogLevel warn
  ErrorLog /var/log/apache2/{{ item.value.preferred_domain }}-http-error.log
  CustomLog /var/log/apache2/{{ item.value.preferred_domain }}-http-access.log combined
  ServerSignature Off

{% include('parts/lets_encrypt.j2') %}

